body{
    background-color:#ffffff;
}
#contactlist{
    height:20rem;
    width:20rem;
    border:1px solid #000000;
}
#top_div{
    height:5rem;
    width:100%;
    background-color: grey;
}
#search_display{
    height:3rem;
    width:98%;
    border:3px solid #d8d8d8;
}