body{
    background-color:#ffffff;
}

/*initial page*/
#contactlist{
    height:20rem;
    width:20rem;
    border:1px solid #000000;
}
#top_div{
    height:5rem;
    width:100%;
}
#search_display{
    height:3rem;
    width:98%;
    border:3px solid #d8d8d8;
}
#list{
   height:5rem;
   width:100%;
   background-color: pink;
}

/*inside top_div*/
#group_div{
    margin:5px;
    height:2.5rem;
    width:6rem;
    display:inline-block;
    position: relative;
    top:.8rem;
    line-height:2.5rem;
    text-align: center;
    color:#2376d2;
    
}
#title_div{
    margin:5px;
    height:2.5rem;
    width:6rem;
    display:inline-block;
    position: relative;
    top:.8rem;
    line-height:2.5rem;
    text-align: center;
}
#addContact_div{
    margin:5px;
    height:2.5rem;
    width:6rem;
    display:inline-block;
    position: relative;
    top:.8rem;
    line-height:2.5rem;
    text-align: center;
    color:#2376d2;
}